<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.baloise.egitblit.view"
            name="GitBlit Repository Explorer">
      </category>
      <view
            allowMultiple="false"
            category="com.baloise.egitblit.view"
            class="com.baloise.egitblit.view.RepoExplorerView"
            icon="/icons/git-black-16x16.png"
            id="com.baloise.egitblit.view.navigator"
            name="Gitblit Repository Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.baloise.egitblit.pref"
            class="com.baloise.egitblit.pref.GitBlitExplorerPrefPage"
            id="com.baloise.egitblit.pref"
            name="GitBlit Repository Explorer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.baloise.egitblit.pref.Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.baloise.egitblit.plugin.cmd.browse"
            contextId="com.baloise.egitblit.plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+B">
      </key>
      <key
            commandId="com.baloise.egitblit.plugin.cmd.copy"
            contextId="com.baloise.egitblit.plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="com.baloise.egitblit.plugin.cmd.clone"
            contextId="com.baloise.egitblit.plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="com.baloise.egitblit.plugin.cmd.import"
            contextId="com.baloise.egitblit.plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.baloise.egitblit.plugin.commands"
            name="Gitblit Repository Explorer Commands">
      </category>
      <command
            categoryId="com.baloise.egitblit.plugin.commands"
            id="com.baloise.egitblit.plugin.cmd.copy"
            name="Copy Gitblit URL to Clipboard">
      </command>
      <command
            categoryId="com.baloise.egitblit.plugin.commands"
            id="com.baloise.egitblit.plugin.cmd.clone"
            name="Clone Repository">
      </command>
      <command
            categoryId="com.baloise.egitblit.plugin.commands"
            id="com.baloise.egitblit.plugin.cmd.import"
            name="Clone &amp; Import Project">
      </command>
      <command
            categoryId="com.baloise.egitblit.plugin.commands"
            id="com.baloise.egitblit.plugin.cmd.browse"
            name="Open Gitblit summary page">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.baloise.egitblit.plugin.context"
            name="Gitblit Repository Explorer"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
